@using GDirectiva.Presentacion.Resource.Base
@using GDirectiva.Presentacion.Resource.General

@using GDirectiva.Presentacion.Core.Helpers
@model GDirectiva.Presentacion.Core.ViewModel.General.PlanAsignaturaCronogramaBusquedaModel
@{
    ViewBag.Title = "Cronograma Plan Asignatura";
}
<div class="content-body">
    <div class="main-colum">
        <form id="frmPlanAsignaturaCronogramaBusqueda" action="@Url.Action("General", "PlanAsignaturaCronograma")">
            <!-- wrap -->
            <div class="box-wrap-main">
                <div class="box-wrap-header">
                    <div class="pull-left">
                        <div class="title-main">
                            CRONOGRAMA DE PLAN DE ASIGNATURA - BÚSQUEDA
                        </div>
                    </div>
                </div>
                <div class="box-wrap-body">
                    <h3 class="title-form">FILTROS DE BÚSQUEDA</h3>
                    <div class="box-form">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>@PlanAsignaturaResource.EtiquetaPeriodoAcademico:</label>
                                    <select id="slcPeriodoAcademico" name="value" class="form-control">
                                        <option value="0">@GenericResource.EtiquetaSeleccionar</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>@PlanAsignaturaResource.EtiquetaPlanArea:</label>
                                    <select id="slcPlanArea" name="value" class="form-control">
                                        <option value="0">@GenericResource.EtiquetaSeleccionar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>@PlanAsignaturaResource.EtiquetaAsignatura:</label>
                                    <select id="slcAsignatura" name="value" class="form-control">
                                        <option value="0">@GenericResource.EtiquetaSeleccionar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-acciones">
                        <div class="pull-right">
                            <button type="button" id="btnBuscar" class="btn-s btn-search">Buscar</button>
                            <button type="reset" class="btn-s btn-clean">@GenericResource.BotonLimpiar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cierra wrap -->
        </form>
    </div>
    <div id="divGrdResult">
    </div>
    
</div>

@section scripts
{
    <script type="text/javascript">

    ns('GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions')
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.Buscar = '@Url.Action("Buscar", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.BuscarActividades = '@Url.Action("BuscarActividades", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.FormularioRegistro = '@Url.Action("FormularioRegistro", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.FormularioRegistroActividad = '@Url.Action("FormularioRegistroActividad", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.Registrar = '@Url.Action("Registrar", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.RegistrarActividad = '@Url.Action("RegistrarActividad", "PlanAsignaturaCronograma", new { Area = "General" })';        
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.Eliminar = '@Url.Action("Eliminar", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.EliminarActividad = '@Url.Action("EliminarActividad", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.Activar = '@Url.Action("Activar", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.BuscarPlanArea = '@Url.Action("BuscarPlanArea", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.BuscarAsignatura = '@Url.Action("BuscarAsignatura", "PlanAsignaturaCronograma", new { Area = "General" })';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Actions.BuscarDocente = '@Url.Action("BuscarDocente", "PlanAsignaturaCronograma", new { Area = "General" })';

    ns('GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource')
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaTituloFormulario = '@PlanAsignaturaCronogramaResource.EtiquetaTituloFormulario';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaTituloFormularioActividad = '@PlanAsignaturaCronogramaResource.EtiquetaTituloFormularioActividad';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaPeriodoAcademico = '@PlanAsignaturaCronogramaResource.EtiquetaPeriodoAcademico';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaPlanArea = '@PlanAsignaturaCronogramaResource.EtiquetaPlanArea';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaDocente = '@PlanAsignaturaCronogramaResource.EtiquetaDocente';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaAsignatura = '@PlanAsignaturaCronogramaResource.EtiquetaAsignatura';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaMetas = '@PlanAsignaturaCronogramaResource.EtiquetaMetas';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaMetodologias = '@PlanAsignaturaCronogramaResource.EtiquetaMetodologias';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaNombreActividad = '@PlanAsignaturaCronogramaResource.EtiquetaNombreActividad';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaFechaInicio = '@PlanAsignaturaCronogramaResource.EtiquetaFechaInicio';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaFechaFin = '@PlanAsignaturaCronogramaResource.EtiquetaFechaFin';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaPorcentaje = '@PlanAsignaturaCronogramaResource.EtiquetaPorcentaje';
    GDirectiva.Presentacion.General.PlanAsignaturaCronograma.Resource.EtiquetaResponsables = '@PlanAsignaturaCronogramaResource.EtiquetaResponsables';
</script>
    @CustomHtmlHelper.RenderViewJs("generalplanasignaturacronogramaformularioregistro")
    @CustomHtmlHelper.RenderViewJs("generalplanasignaturacronogramaformularioregistroactividad")
}